
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.addproduct{

    position: relative;
    left: 200px;
}


label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    background-color: #0074D9;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
